#introduction-board{
    min-height: 100vh;
    width:100%;
    background-image: url("../img/backimg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#introduction-board::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.inner-introduction-board{
    position: relative; /* Asegura que el texto esté por encima del pseudo-elemento ::after */
    z-index: 2; /* Coloca el texto encima del pseudo-elemento ::after */
    margin: 0; /* Asegúrate de eliminar cualquier margen predeterminado */
    padding: 0; /* Asegúrate de eliminar cualquier relleno predeterminado */
    color: white;
    text-align: center;
}
.inner-introduction-board h1,.inner-introduction-board h3{
    font-weight: 900;
    font-size: 3rem;
    line-height: 90px;
}
.inner-introduction-board h1{
    font-size: 4.5rem;
    letter-spacing: 6px;
}

.contactBtn{
    border-radius: 15px;
    font-weight: 900;
    width: auto;
    padding: 5px 30px;
    letter-spacing: 2px;
}
.next-arrow{
    position: absolute;
    color: white;
    bottom: 7px;
    font-size: 30px;
    z-index: 1;
}
.next-arrow:hover{
    color:  #198754;
}
@media (max-width:992px){
    /* .inner-introduction-board {
        transition: margin-top 0.4s ease; 
    }
    .inner-introduction-board.navbar-open {
        margin-top: 260px !important; 
    } */
    .logo{
        position: absolute;
        width: 150px;
        height: 150px;
        top: -10px;
        right: -20px;
    }
    .inner-introduction-board h1,.inner-introduction-board h3{
        font-weight: 900;
        font-size: 1.7rem;
        line-height: 50px;
    }
    .inner-introduction-board h1{
        font-size: 2.5rem;
    }
    .intro-description{
        padding: 0px 35px;
        font-size: 1rem;
    }
    .contactBtn{
        letter-spacing: 0px;
    }
}
